.idea

#########################
#
#  ####   ##  ##  ####
#  ##  #  ##  ##  ##  #
#  ####   ######  ####
#  ##     ##  ##  ##
#  ##     ##  ##  ##
#
#########################

###> symfony/framework-bundle ###
php/.env.local
php/.env.local.php
php/.env.*.local
php/config/secrets/prod/prod.decrypt.private.php
php/public/bundles/
php/var/
php/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
php/.php-cs-fixer.php
php/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
php/.phpunit.result.cache
php/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
php/phpunit.xml
php/.phpunit.result.cache
###< phpunit/phpunit ###

#########################
#
#  ####   ##  ##  ####
#  ##  #  ##  ##  ##  #
#  ####   ######  ####
#  ##     ##  ##  ##
#  ##     ##  ##  ##
#
#########################
