.idea

#########################
#
#  ####   ##  ##  ####
#  ##  #  ##  ##  ##  #
#  ####   ######  ####
#  ##     ##  ##  ##
#  ##     ##  ##  ##
#
#########################

###> symfony/framework-bundle ###
php/.env.local
php/.env.local.php
php/.env.*.local
php/config/secrets/prod/prod.decrypt.private.php
php/public/bundles/
php/var/
php/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
php/.php-cs-fixer.php
php/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
php/.phpunit.result.cache
php/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
php/phpunit.xml
php/.phpunit.result.cache
###< phpunit/phpunit ###

##################################
#
#  ##   ##    ##    ####   #####
#  ###  ##  ##  ##  ##  #  ##
#  ## # ##  ##  ##  ##  #  ####
#  ##  ###  ##  ##  ##  #  ##
#  ##   ##    ##    ####   #####
#
##################################

node/node_modules

# dependencies
next/node_modules
next/.pnp
next/.pnp.js

# testing
next/coverage

# next.js
next/.next/
next/out/

# production
next/build

# misc
next/.DS_Store
next/*.pem

# debug
next/npm-debug.log*
next/yarn-debug.log*
next/yarn-error.log*

# local env files
next/.env.local
next/.env.development.local
next/.env.test.local
next/.env.production.local

# vercel
next/.vercel
